<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxRgfzNdKGwJw96b3Op7tP_Un2RSKNmHc</string>
	<key>GCM_SENDER_ID</key>
	<string>86064269014</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.anshul.Ping-Me</string>
	<key>PROJECT_ID</key>
	<string>ping-me-e9f34</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-me-e9f34.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:86064269014:ios:a9864f5a611826df6b2b77</string>
</dict>
</plist>